@import "tailwindcss";

/* Define font faces */
@font-face {
 font-family: "IranYekanReg";
 src: url("./assets/fonts/IRANYekanRegular.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
@font-face {
 font-family: "OpenSans-Regular";
 src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

/* Apply IranYekanReg to all RTL content */
[dir="rtl"] {
 font-family: var(--font-iran-yekan-reg) !important;
}

/* Make placeholders also use IranYekanReg */
[dir="rtl"] ::placeholder {
 font-family: var(--font-iran-yekan-reg) !important;
 direction: rtl !important;
 text-align: right !important;
}

/* Define utilities */
@layer utilities {
 .no-scrollbar::-webkit-scrollbar {
  display: none;
 }

 .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }
}

/* Define theme extensions in @theme */
@theme {
 --font-iran-yekan-reg: "IranYekanReg", "Tahoma", "sans-serif";
 --font-Roboto: "OpenSans-Regular", "Tahoma", "sans-serif";
}
